## [ Visual Studio ]
.vs/
*.user
*.suo
*.sln.docstates

## [ Visual Studio Code ]
.vscode/
*.code-workspace
.history/

## [ Build outputs ]
bin/
obj/
publish/

## [ Dependencies ]
node_modules/

## [ Database & Storage ]
*.db
*.sqlite
*.mdf
*.ldf

## [ Configuration & Secrets ]
appsettings.Development.json
secrets.json
.env
*.env
*.usersecrets

## [ Logs & Temp ]
*.log
logs/
TestResults/
.cache/

## [ OS Generated ]
Thumbs.db
Desktop.ini
.DS_Store

## [ NuGet ]
*.nupkg
packages/